$accent-color: #ff811c;
$darkest-color: #2a2d37;
$dark-color: #404553;
$grey-color: #9fa7bd;
$light-grey-color: #dce1f1;

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

header {
    padding: 25vh 10vw;
    color: $accent-color;
    background-color: $dark-color;
    text-align: center;
    font-size: 2rem;
}

nav {
    position: sticky;
    padding: 25px 0;
    text-align: center;
    background-color: $darkest-color;
    color: $accent-color;
    top: 0;
    
    a {
        color: whitesmoke;
        text-decoration: none;
        margin: 0 10px;
        font-size: 1.25rem;

        &:hover {
            color: $accent-color;
        }
    }
}

h2 {
    color: $darkest-color;
    text-align: center;
    font-size: 1.75rem;
}

section.about-me, 
section.projects, 
section.skills,
section.education, 
section.contact {
    margin: 5vh 10vw;
    padding: 2vh 5vw;
    background: $light-grey-color;
}

section p {
    font-size: 1.25rem;
}

.card {
    background-color: $grey-color;
    margin: 10px;
    text-align: center;
    padding: 10px ;
}

.projects-container {
    display: flex;
}

.card-1, .card-2 {
    img {
        width: 400px;
        padding: 0 10px;
    }

    p {
        margin: 10px;
        padding: 10px;
    }
}

.card-3, .card-4 {
    visibility: hidden;
}

section.contact a:hover {
    color: $accent-color;
}

footer {
    background-color: $darkest-color;
    padding: 30px;
    text-align: center;
    color: $light-grey-color;
}